<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs') %>
</head>
<body> 
<div id="wrap">
    <%-include('../_templates/_header.ejs', { type: 'components' , }) %>
    <!-- page-body -->
    <div class="main components button" id="main">
        <div class="main-inner">
            <div class="local"> 
                <div class="local-head">
                    <div class="local-subject">
                        <h2 class="local-name blind">Tab Button 디자인 가이드</h2>
                    </div>
                </div>
                <div class="local-body">
                    <%-include('../_templates/_lnb.ejs', { depth1: 'components', depth2: 'button', depth3: 'tab-button' }) %>
                    <div class="content">
                        <div class="content-inner">
                            <div class="content-head">
                                <h3 class="content-name">Tab Button</h3>
                                <p class="content-summary">콘텐츠 영역 상단에 위치하여 여러 섹션을 쉽게 전환시키는 컴포넌트 입니다.<br> 탭의 사이즈는 상황에 따라 변경 사용할 수 있으며 탭 선택 시 화면 내의 특정 영역의 콘텐츠가 변경됩니다.<br> 탭 타입은 공통 탭과, 예외 케이스 탭으로 나누어 사용합니다.</p>
                            </div>
                            <div class="content-body">
                                <div class="section">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <h4 class="section-subject">Anatomy</h4>
                                        </div>
                                        <div class="section-body"> 
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%-include('../_templates/_aside.ejs', { name: 'tab-button', }) %>
                </div>
            </div>
        </div>
    </div>
    <!-- //page-body -->
    <%-include('../_templates/_footer.ejs') %>
</div>
</body>
</html>